/* reset */
body,
h1,
h2,
p,
ul {
  margin: 0;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  vertical-align: top;
}

/* layout */
.wrapper {
  width: 960px;
  margin: 0 auto;
}

/* commons */
.text_bold {
  font-weight: 900;
}

/* design */
.header {
  background-image: url(./images/header-bg.png);
  background-size: cover;
  background-position: center;
  padding-top: 50px;
  color: #ffa600;
}

.header-contents {
  /* border: 20px solid;
  border-bottom: none; */
  border-width: 20px 20px 0 20px;
  border-style: solid;
  padding: 40px;
  background-image: url(./images/container-bg.png);
  background-position: right 40px top 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-title {
  font-size: 30px;
  letter-spacing: 0.3em;
  line-height: 1;
  display: inline-block;
  border-bottom: 3px solid;
  margin-bottom: 40px;
}

.header-description {
  max-width: 450px;
  line-height: 1.5;
}

.contents {
  background-color: #ddd;
  padding: 30px 0;
}

.grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.grid-item {
  border-radius: 5px;
  overflow: hidden;
  width: 250px;
  flex-grow: 1;
  background-color: #fff;
}

.grid-item-cover {
  width: 100%;
}

.grid-item-title {
  background-color: #fff;
  background-image: url(./images/play.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: #ffa600;
  padding: 15px 50px 15px 15px;
  font-weight: 700;
  border-top: 3px solid;
}

.footer {
  background-color: #fff;
  padding: 20px;
  color: #bbb;
  border-top: 2px solid;
  letter-spacing: 0.5em;
  font-size: 12px;
  text-align: center;
}
