/* reset */
body,
h1,
h2,
p,
ul {
  margin: 0;
}

h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  vertical-align: top;
}

/* layout */
.wrapper {
  width: 900px;
  margin: 0 auto;
}

/* design */
header {
  background-image: url(./images/header-bg.png);
  padding-top: 50px;
  color: #ffa600;
}

.header-contents {
  border: 20px solid;
  border-bottom: none;
  padding: 40px;
  background-image: url(./images/container-bg.png);
  background-position: right 40px top 40px;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-contents-title {
  font-size: 30px;
  letter-spacing: 0.3em;
  line-height: 0.8;
  display: inline-block;
  border-bottom: 3px solid;
  margin-bottom: 40px;
}

.text_bold {
  font-weight: 900;
}

.header-contents-description {
  width: 450px;
  line-height: 1.5;
}

.contents {
  background-color: #ddd;
  padding: 30px 0;
}

/* 컨텐츠 양이 달라졌을 때 레이아웃이 깨지는 문제가 있어 여러가지 시도를 해보았는데 flex 개념 미숙으로 속 시원하게 해결이 되지 않습니다. 컨텐츠 양의 변화가 있을 때 고려해야하는 사항에 대해 알고싶습니다. */
.grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.grid-item {
  border-radius: 5px;
  overflow: hidden;
  width: 250px;
  flex-grow: 1;
}

/* width 100% 주었을 때의 너비가 280, 안주었을 때 너비가 300으로 나옵니다.
    300은 원래 이미지 사이즈 너비가 300이라 300에 대한 값이 나오는건 이해가 가는 부분인데
    width 100% 일 때 너비가 280 나오는 것이 어느 기준에서 그 값이 나온건지 모르겠습니다. */
.grid-item-cover {
  width: 100%;
}

.grid-item-title {
  background-color: #fff;
  background-image: url(./images/play.png);
  background-repeat: no-repeat;
  background-position: right center;
  color: #ffa600;
  padding: 15px;
  font-weight: 700;
  border-top: 3px solid;
}

.footer {
  background-color: #fff;
  padding: 20px;
  color: #bbb;
  border-top: 2px solid;
  letter-spacing: 0.5em;
  font-size: 12px;
  text-align: center;
}
